@font-face {
  font-family: RobotoLight;
  src: url('/fonts/roboto.light.ttf');
}

body{
  color: #fff;
  font-family: RobotoLight, san-serif;
}
h1, h2, h3{
  text-transform: uppercase;
  color: #fff;
}
h2{
  font-family: RobotoLight, san-serif;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.h2-gray{
  color: #373737;
}
h3{

font-family: Roboto, san-serif;
font-size: 3.75rem;
}

ul{
  list-style-type: none;
}

#spi-top-menu-right{
  float: right;
  display: inline;
}
#spi-top-menu-right ul li{
  display: inline;
  margin-left: 20px;
  
}
#spi-top-menu-right a{
  color: #000;
}
#spi-head-container{
  padding: 20px 0;
}
#sti-header-flex-div {
    min-height: 550px;
    line-height: 550px;
}
.sti-header-flex {
    display: inline-block;
    vertical-align: middle;
    line-height: 160pt;
}

#spi-body-container{
    padding: 90px 0;
    background-color: #000;
}
#spi-body-container .spi-logo-img{
  
}
#spi-row-content{
    background-color: #000;
    background-image: url(/images/1014_B&W-HIGHER-RES.png);
    background-color: #000;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: left;    
}

#spi-footer-container{
  background-color: #1f1f1f;
  padding: 40px;
}
#spi-footer-container p{
  font-family: Roboto;
  font-weight: 300;
}
.spi-style-container .spi-row-center{
  max-width: 1140px;
  margin: 0 auto;
  float: none;
}
.spi-style-container p{
  color: #fff;
  text-align: left;
  font-family: RobotoLight, sans-serif;
  
}
.spi-style-container{
  padding: 0;
}
.spi-style-container h2{
  font-family: Roboto, sans-serif;
  text-align: left;
  text-transform: none;
  margin-left: 20px;
}

/*What we do*/

#spi-wwd-container {
    background-color: #000;
    background-image: url(/images/What-We-Do.jpg);
    background-color: #000;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#spi-wwd-flex-div{
    min-height: 550px;
    line-height: 550px;
    
}
#spi-wwd-flex-div img{
  float: left;
  padding-right: 30px;
}
.spi-wwd-flex{
    display: inline-block;
    vertical-align: middle;
    line-height: 24pt;
}

/* Rental Services*/
#spi-rs-container{
    background-color: #000;
}

#spi-rs-left-flex-div{
    min-height: 550px;
    line-height: 550px;
    text-align: center;
    
}
#spi-rs-left-flex-div h2{
  margin-top: 30px;
}
#spi-rs-left-flex-div img{
  float: left;
  padding-right: 30px;
}
.spi-rs-flex{
    display: inline-block;
    vertical-align: middle;
    line-height: 24pt;
    width: 50%;
}

#spi-rs-col-left{
    background-color: #373737;
}

#spi-rs-col-right{
    background-color: #000;
    background-image: url(/images/Rental-Services.jpg);
    background-color: #000;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#sti-rs-right-flex-div ul{
    text-align: center;
}

#spi-rs-right-flex-div{
    min-height: 550px;
    line-height: 550px;
    text-align: center;
    
}

/* Project & Creative Services */

#spi-pcs-row-content h3{
  font-size: 28px;
  text-transform: none;
  //border-bottom: 3px solid #ffe12f;
}
#spi-pcs-row-content{
    background-color: #fff;
       
    
    margin: 0;
}
#spi-pcs-row-content h2{
  display: inline;
  text-align: center;
}
#spi-pcs-row-content #spi-pcs-flex-div{
  margin: 50px 0;
}

/*
#spi-pcs-flex-div{
    min-height: 250px;
    line-height: 250px;
    text-align: center;
    
}
#spi-pcs-flex-div img{
  float: left;
  padding-right: 30px;
}
.spi-pcs-flex{
    display: inline-block;
    vertical-align: middle;
    line-height: 24pt;
}
*/

#spi-pcs-filming{
     background-color: #000;
    background-image: url(/images/Filming.jpg);
    background-color: #000;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#spi-pcs-content-dev{
    background-color: #000;
    background-image: url(/images/Content-Development.jpg);
    background-color: #000;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#spi-pcs-video-services{
     background-color: #000;
    background-image: url(/images/Video-services.jpg);
    background-color: #000;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}
#spi-pcs-project-management{
     background-color: #000;
    background-image: url(/images/Project-Management.jpg);
    background-color: #000;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.spi-pcs-col-contents{
  text-align: center;
}

.spi-pcs-flex-div-main{
    min-height: 250px;
    line-height: 250px;
    text-align: center;
    
}

.sti-pcs-box-flex{
    display: inline-block;
    vertical-align: middle;
    line-height: 24pt;
    text-align: left;
}
.sti-pcs-box-flex ul{
  padding-left: 0;
}
.sti-pcs-box-flex ul li{
  text-align: left;
}

#spi-pcs-container{
  height: auto;
}


/* Conttact Us */
#spi-rs-row-content{
    background-color: #000;
    margin: 0;
    height: auto;
   
}
#spi-contact-container{
    background-color: #fff;
    clear: both;   
    height: auto;   
    margin: 0;
    padding: 50px 0;
    display: block;
    
}

#spi-footer-container{
    background-color: #373737;
   
}
#spi-footer-container  ul li{
  display: inline;
  margin-right: 20px;
  
}

#spi-footer-container a{
  color: #fff;
  
}
#spi-footer-container .a-services{
  border-right: 1px solid #fff;
  padding-right: 20px;
}

.text-copyright{
  text-align: right;
}




@media only screen and (min-width: 768px) {
        #spi-body-container .spi-logo-img{
    max-width: 450px;
  }
}

@media only screen and (max-width: 480px) {
  #spi-row-content{
     height: 500px;    
  }
  h2{
   font-size: 1.75rem;
  }
  h3{
   font-size: 2.25rem;
  }  
  #sti-header-flex-div {
    min-height: 500px;
    line-height: 500px;
  }
  .sti-header-flex {
      display: inline-block;
      vertical-align: middle;
      line-height: 100pt;
  }
  #spi-footer-container{
  
  padding: 40px;
}
#spi-head-container{
  text-align: center;
}
#spi-head-container .row{
  margin: 0;
}

.spi-wwd-flex img, .spi-rs-flex img, .spi-pcs-flex-div img{
  max-width: 120px;
}
.spi-rs-flex{
  width: 100%;
}

#spi-footer-container{
  padding: 40px 0;
  text-align: center !important;
}
.text-copyright{
  text-align: center !important;
}

#spi-top-menu-right{
  float: none;
  text-align: center;
  
}
#spi-top-menu-right ul{
  margin-top: 20px;
}

}
@media only screen and (max-width: 768px) {
#spi-rs-left-flex-div{
    min-height: 250px;
    line-height: 250px;
    text-align: center;
    
}

#spi-rs-left-flex-div h2{
  margin-top: 30px;
  max-width: 450px;
}
}